<form [formGroup]="form" class="mt-3">
	<div class="multiselect">
		<div class="selectBox" (click)="showCheckboxes()">
			<select class="custom-select">
        <option>{{dataOption}}</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div id="checkboxes" [style.display]="expanded === true ? 'block' : 'none'">
      <div class="form-check" *ngFor="let country of countries" (click)="select(country);">
        <input class="form-check-input" type="checkbox" formControlName="{{country}}">
        <label class="form-check-label" for="{{country}}">
          {{country}}
        </label>
      </div>
    </div>
  </div>
</form>
<div class="d-flex mt-3" *ngIf="expanded">
  <div class="align-self-start">
    <ul class="list-group" *ngFor="let result of resultForm">
      <li class="list-group-item">{{result.name}}</li>
    </ul>
  </div>
  <div class="align-self-stretch">
    <ul class="list-group" *ngFor="let result of resultForm">
      <li class="list-group-item">{{result.check}}</li>
    </ul>
  </div>
</div>